body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    background-color: #fafbfd;
}

.meu {

    position: fixed;
    width: 100%;
    z-index: 1000;

    
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    padding: 10px 20px;
    height: 50px;
}

.encabezado h1 {
    color: #efb810;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: white;

}
header a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

nav {
    text-align: center;
    background-color: #fafbfd;
    padding: 10px 0;
    border-top: 1px solid white;
}

.Usuario{
    width: 35px;
    height: 30px;
}


.sesion {

    display: flex;
    color: white;
    font-size: 13px;
align-items: center;

}

hr {
    background-color: #a502ee;
}





nav a {
    color: grey;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    transition: color 0.3s ease;
    position: relative;
    border: 1px solid black;
    gap: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

nav a:hover {
    color: #efb810;
    border-right: 1px solid grey;
}

.tamaño:hover {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
}


.shop {
    position: relative;
    display: inline-block;

}

.shop .menu {
    display: none;
    position: absolute;
    background-color: #fafbfd;
    width:  100%;    
   
}

.shop:hover .menu {
    display: block;
}

.menu a {
    color: grey;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 18px;

}

.menu a:hover {
    background-color: #efb810;
    color: #0a0a0a;
}
 