


.titulo-producto {
  padding-top: 10%;
  text-align: center;
  font-size: 35px;
  font-family: 'Abel', sans-serif;

}


.texto {
  text-align: center;
  font-size: 25px;
}


.catalogo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  padding-bottom: 50px;
}

.producto {
  background: white;
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  width: 210px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

}

.producto a {
    text-decoration: none;
}

.producto img {
  width: 100%;
  height: 225px;
  
}

.producto h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: black;
}


.producto p {
  font-size: 14px;
  color: #555;

}
.producto:hover {
  background: black;
  border-radius: 0px;
  transform: scale(1.1);


}
.producto:hover h3 {
  color: white;


}
.producto:hover p {
  color: lightgray;
  font-weight: bold;
}

@media(max-width: 1024) {

  .texto {
  text-align: center;
  font-size: 15px;
}

}

@media(max-width: 700px) {


.titulo-producto {
  padding-top: 28%;
  text-align: center;
  font-size: 35px;
  font-family: 'Abel', sans-serif;

}
  .producto {
  background: white;
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  width: 60px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

}
.producto img {
  width: 100%;
  height: 60px;
  
}
.producto a {
    text-decoration: none;
}

.producto h3 {
  font-size: 9px;
  margin: 5px 0 5px;
  color: black;
}


.producto p {
  font-size: 10px;
  color: #555;

}
.producto:hover {
  background: black;
  border-radius: 0px;
  transform: scale(1.1);


}
.producto:hover h3 {
  color: white;


}
.producto:hover p {
  color: lightgray;
  font-weight: bold;
}
.catalogo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  padding-bottom: 20px;
}
}